// views/templates/PostComponent.pug
div(class="container main-container")
  .jumbotron.text-center
    h1 Posts&nbsp;
      span.label.label-info {{posts.length}}
  .row(*ngFor="let post of posts")
    .col-lg-9
      article(id="{post._id}" class="post-544 post type-post status-publish format-standard hentry category-ignominy-patris")
         <div [innerHtml]="post.content | htmlEntities"></div>
    .col-sm-6.col-sm-offset-3
      form(on-ngSubmit='createPost()')
        .form-group
          input.form-control.input-lg.text-center(type='text' placeholder='What to do next?' [(ngModel)]='postData.content' required)
        .form-group.text-center
          br
          button.btn.btn-success.btn-lg(type='submit') Submit
